# Raiz del proyecto (vacio = carpeta de load_project_env.py)
PROJECT_ROOT=

# Rutas relativas a PROJECT_ROOT
DATA_AMES_TRAIN=1. Ames Housing Dataset/Ames Housing/train.csv
DATA_MIMIC_PATIENTS=2. MIMIC‑III (Medical Information Mart for Intensive Care)/mimic-iii-clinical-database-demo-1.4/PATIENTS.csv
DATA_NHANES_CHRONIC=3. NHANES (National Health and Nutrition Examination Survey)/NHANES_Select_Chronic_Conditions_Prevalence_Estimates.csv
DATA_NHANES_INFECTIOUS=3. NHANES (National Health and Nutrition Examination Survey)/NHANES_Select_Infectious_Diseases_Prevalence_Estimates.csv
DATA_NHANES_DIETARY=3. NHANES (National Health and Nutrition Examination Survey)/NHANES_Select_Mean_Dietary_Intake_Estimates.csv
DATA_NHANES_ORAL=3. NHANES (National Health and Nutrition Examination Survey)/NHANES_Select_Oral_Health_Prevalence_Estimates.csv
DATA_BIKE_SHARING=4. Bike Sharing  Bike Rental (UCI  Kaggle)/sampleSubmission.csv
DATA_ADULT_TRAIN=5. Adult (Census Income) – UCI/adult/adult.data
DATA_CREDIT_CRX=6. Credit Approval – UCI/credit+approval/crx.data
DATA_AUSTRALIAN=7. Statlog (Australian Credit Approval) – UCI/statlog+australian+credit+approval/australian.dat
DATA_BREAST_CANCER=8. Breast Cancer Wisconsin (Original) – UCI/breast+cancer+wisconsin+original/breast-cancer-wisconsin.data
DATA_MENINGITIS=9. Meningitis Dataset with Missing Values – Kaggle/archive/mening missing 12.csv
